[report]
exclude_lines =
    if self.debug:
    pragma: no cover
    raise .
    if __name__ == .__main__.:
ignore_errors = True
omit =
    tests/*
    daceml/onnx/shape_inference/symbolic_shape_infer.py
